# Reservation Service Environment Variables
NODE_ENV=development
PORT=3003
HTTP_PORT=3003
TCP_PORT=3003
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DATABASE=reservation_db
POSTGRES_USERNAME=reservation_user
POSTGRES_PASSWORD=reservation_password
AUTH_HOST=localhost
AUTH_PORT=3004
PAYMENTS_HOST=localhost
PAYMENTS_PORT=3005